body {
    background-color: lightgray;
}

main {
    position: absolute;
    left: 40%;
}

.celeste {
    background-color: lightskyblue;
    width: 300px;
    height: 66px;
}

.blanca {
    background-color: white;
    width: 300px;
    height: 68px;
}

.verdin {
    background-color: rgb(21, 182, 133);
    width: 300px;
    height: 66px;
}

.naranja {
    background-color: rgb(255, 30, 0);
    width: 300px;
    height: 66px;
}

.bulgaria {
    margin-top: 15px;
}

.irlanda {
    position: relative;
    height: 200px;
    width: 300px;
    margin-top: 15px;
    float: left;
}

.verde-v {
    background-color: rgb(63, 150, 63);
    height: 200px;
    width: 100px;
    display: inline-block;

}

.blanco-v {
    background-color: white;
    height: 200px;
    width: 100px;
   
}